<nav class="mb-5">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/">Home</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/entries">Lançamentos</a>
    </li>
    <li class="breadcrumb-item">
      <a
        routerLink="/"
        [routerLinkActive]="['active']"
        routerLinkActive="router-link-active"
        >Formulário de lançamentos</a
      >
    </li>
  </ol>
</nav>

<div class="row mb-4">
  <div class="col-md-9">
    <h1 class="h2 border-left pl-2">{{ pageTitle }}</h1>
  </div>
  <div class="col-md-3">
    <a routerLink="/entries" class="btn btn-light float-end"> << Voltar</a>
  </div>
</div>

<form [formGroup]="entryForm" (submit)="submitForm()">
  <div class="card">
    <div class="card-header">
      {{ pageTitle }}
    </div>

    <div class="card-body">
      <div class="row">
        <!-- type -->
        <div class="col-md-2">
          <label for="type" class="form-label">Tipo</label>

          <select
            name="type"
            id="type"
            formControlName="type"
            class="form-control"
          >
            @for (option of typeOptions; track option) {
              <option [value]="option.value">{{ option.text }}</option>
            }
          </select>
          <div
            class="text-danger"
            *ngIf="
              entryForm.get('type')?.invalid && entryForm.get('type')?.touched
            "
          >
            @if (entryForm.get("type")?.getError("required")) {
              <div>Dado obrigatório</div>
            }
          </div>
        </div>

        <!-- name -->
        <div class="col-md-5">
          <label for="name" class="form-label">Lançamento</label>
          <input
            type="text"
            id="name"
            formControlName="name"
            class="form-control"
          />
          <div
            class="text-danger"
            *ngIf="
              entryForm.get('name')?.invalid && entryForm.get('name')?.touched
            "
          >
            @if (entryForm.get("name")?.getError("required")) {
              <div>Dado obrigatório</div>
            }

            <div *ngIf="entryForm.get('name')?.getError('minLenght')">
              Deve ter ao menos 2 caracters
            </div>
          </div>
        </div>

        <!-- amount -->
        <div class="col-md-3">
          <label for="amount" class="form-label">Valor</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">R$</div>
            </div>
            @if (isBrowser) {
              <input
                [imask]="imaskConfig"
                unmask="typed"
                type="text"
                id="amount"
                formControlName="amount"
                class="form-control text-end"
              />
            } @else {
              <input
                type="text"
                class="form-control text-end"
                placeholder="0,00"
              />
            }
          </div>

          <div
            class="text-danger"
            *ngIf="
              entryForm.get('amount')?.invalid &&
              entryForm.get('amount')?.touched
            "
          >
            @if (entryForm.get("amount")?.getError("required")) {
              <div>Dado obrigatório</div>
            }
          </div>
        </div>

        <!-- date -->
        <div class="col-md-2">
          <label for="date" class="form-label">Data</label>
          <p-date-picker
            id="date"
            formControlName="date"
            inputStyleClass="form-control"
            dataType="string"
            dateFormat="dd/mm/yy"
          >
          </p-date-picker>
          <div
            class="text-danger"
            *ngIf="
              entryForm.get('date')?.invalid && entryForm.get('date')?.touched
            "
          >
            @if (entryForm.get("date")?.getError("required")) {
              <div>Dado obrigatório</div>
            }
          </div>
        </div>
        <!-- paid -->
        <div class="col-md-2">
          <label for="paid" class="form-label">Pago</label>
          <div class="btn-group" role="group">
            <button
              (click)="entryForm.get('paid')?.setValue(true)"
              type="button"
              [class.active]="entryForm.get('paid')?.value"
              class="btn btn-outline-info"
            >
              Pago
            </button>
            <button
              (click)="entryForm.get('paid')?.setValue(false)"
              type="button"
              [class.active]="!entryForm.get('paid')?.value"
              class="btn btn-outline-info"
            >
              Pendente
            </button>
          </div>

          <div
            class="text-danger"
            *ngIf="
              entryForm.get('paid')?.invalid && entryForm.get('paid')?.touched
            "
          >
            @if (entryForm.get("paid")?.getError("required")) {
              <div>Dado obrigatório</div>
            }
          </div>
        </div>

        <!-- categoryId -->
        <div class="col-md-3">
          <label for="categoryId" class="form-label">Categoria</label>
          <select
            name="categoryId"
            id="categoryId"
            formControlName="categoryId"
            class="form-control"
          >
            @for (category of categories; track category) {
              <option [value]="category.id">{{ category.name }}</option>
            }
          </select>
          <div
            class="text-danger"
            *ngIf="
              entryForm.get('categoryId')?.invalid &&
              entryForm.get('categoryId')?.touched
            "
          >
            @if (entryForm.get("categoryId")?.getError("required")) {
              <div>Dado obrigatório</div>
            }
          </div>
        </div>
      </div>

      <!-- description -->
      <div class="col-md-7">
        <label for="description" class="form-label">Descricao</label>
        <input type="text" class="form-control" id="description" />
      </div>
    </div>
  </div>
  @if (serverErrorMessages.length > 0) {
    <div class="alert alert-danger">
      <strong>Erro no servidor</strong>
      <ul>
        <li *ngFor="let err of serverErrorMessages">
          {{ err }}
        </li>
      </ul>
    </div>
  }

  <button
    [disabled]="submittingForm || entryForm.invalid"
    type="submit"
    class="btn btn-primary btn-lg float-end mt-3"
  >
    Salvar
  </button>
</form>
